@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
 
html{
	font-family: 'Roboto', sans-serif;
}
 
.hero{
	width: 500px;
	margin: 0 auto;
    text-align: center;
}

.milestone{
	width: 700px;
	margin: 0 auto;
    margin-bottom:30px;
}

.milestone h2{
	font-weight: 100;
	color: #444444;
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
}

.milestone-copy{
	padding-left: 30px;
	padding-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 25px;
    padding-top: 25px;
}

.milestone h3{
	border-bottom: 2px #f36e21 solid;
	font-weight: 300;
}

.milestone .milestone-item{
	margin-bottom: 50px;
}

.milestone .milestone-item:last-of-type{
    margin-bottom: 10px;
}

.milestone-item h4{
	margin-bottom: 10px;
	font-weight: 300;
	border-left: solid 1px #f36e21;
	padding: 5px;
    padding-bottom:5px;
}

.milestone-item p{
	padding-left: 10px;
}

.milestone-item div{
    margin-bottom: 50px;
}
.milestone-item:last-of-type div{
    margin-bottom:10px;
}



@media screen and (min-width: 700px){
	
	.navigation ul li{
        display: inline-block;
    }
    
    nav input, nav label{
	    display: none;
    }
    
    .navigation{
	    height: 60px;
    }
    
    .navigation nav{
		margin-top: 20px;
    }
    
    .desktop-nav{
	    width: 695px;
	    margin: 0 auto;
    }
    
    .desktop-nav a{
	    width: 30%;
	    font-size: 18px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    padding-left: 15px;
	    padding-right: 15px;
	    -webkit-transition: color .5s, background-color .5s, text-decoration 1s;
	    transition: color .5s, background-color .5s, text-decoration 1s;
	    text-decoration: underline;
    }
    
    .desktop-nav a:hover{
	    color: #fff;
	    background-color: rgb(238, 87, 26);
	    text-decoration: none;
	    cursor: pointer;
	    
    }
	
}

@media screen and (max-width: 700px){
	.hero{
		width: 95%;
		padding: 10px;
	}
	
	.milestone{
		width: 95%;
		padding: 10px;
	}
	
	/* NAV */
	/* 
	    
	    MOBILE NAVIGATION 
	    
	 */
    #mobile-nav-opener{
        display: none;
    }

    #mobile-nav-opener ~ label{
        display: block;
        text-align: center;
        background-color: #000;
        padding: 15px 0px;
        color: #fff;
    }
    #mobile-nav-opener ~ label h2{
        margin: 0px;
    }

    #mobile-nav-opener ~ .mobile-nav{
        max-height: 0;
        transition: max-height .5s;
        -webkit-transition: max-height .5s;
        overflow: hidden;
    }

    #mobile-nav-opener:checked ~ .mobile-nav {
        max-height:200px;
    }

    .mobile-nav a{
        display: block;
        padding: 10px;
        text-align: center;
        background-color:rgb(238, 87, 26);
        color: #fff;
    }

    .mobile-nav a:first-child{
        padding-top:15px;
    }
    .mobile-nav a:last-child{
        padding-bottom:15px;
    }
}

figure{
    margin-bottom:80px;
    text-align: center;
}
figure:last-of-type{
    margin-bottom: 10px;
}
figcaption{
    padding-top:10px;
}
img{
    max-width: 100%;
}

ul{
    list-style: none;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

li{
    border-left: 1px solid orange;
    padding-left: 8px;
    margin-bottom: 15px;
}